<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link href="/styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/scripts.js"></script>

    <title>Animated Express n Js app</title>
</head>
<body>
    <div class="header">
        <!-- <div id="backgroundHeader"></div> -->
        <div id="rectangle">
            <div id="buttonText">
                <a href="/home">CLIQUEZ</a>
            </div>
        </div>
    </div>
</body>
</html>